<table>
    <tr>
        <th *ngFor="let key of keys">
            {{key}}
        </th>
    </tr>
    <tr *ngFor="let row of rows">
        <td *ngFor="let key of keys">
            {{row[key]}}
        </td>
    </tr>
</table>

<table>
    <tr>
        <th *ngFor="let key of keys1">
            {{key}}
        </th>
    </tr>
    <tr *ngFor="let row of rows1">
        <td *ngFor="let key of keys1">
            {{row[key]}}
        </td>
    </tr>
</table>

<table>
    <tr>
        <th *ngFor="let key of keys2">
            {{key}}
        </th>
    </tr>
    <tr *ngFor="let row of rows2">
        <td *ngFor="let key of keys2">
            {{row[key]}}
        </td>
    </tr>
</table>

<table>
    <tr>
        <th *ngFor="let key of keys3">
            {{key}}
        </th>
    </tr>
    <tr *ngFor="let row of rows3">
        <td *ngFor="let key of keys3">
            {{row[key]}}
        </td>
    </tr>
</table>